.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 0;
    color: gray;
    cursor: pointer;
}

.headerOption:hover {
    color: black;   
}

.headerOption__title {
    font-size: 12px;
    font-weight: 400;
}

.headerOption__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.headerOption__icon:hover {
    filter: drop-shadow(-2px 2px 1px #a5a5a5);
    color: #0077B7;
}