.inputOption {
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.inputOption:hover {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    /* -webkit-box-shadow: -2px 4px 5px -3px rgba(73, 73, 73, 0.45) ; 
    box-shadow: -2px 4px 5px -3px rgba(59, 59, 59, 0.45) ; */
    /* filter: drop-shadow(-2px 2px 1px #a5a5a5); */
}

.inputOption > .MuiSvgIcon-root {
    filter: drop-shadow(-2px 2px 1px #a5a5a5);
}

.inputOption > h4 {
    margin: 0 0 0 5px;
}