.post {
    background-color: white;
    padding: 15px;
    margin: 0 0 10px 0;
    border-radius: 10px;
}

.post__header {
    display: flex;
    margin: 0 0 10px 0;
}

.post__info {
    margin: 0 0 0 10px;
}

.post__info > p {
    font-size: 13px;
    color: gray;
}

.post__info > h2 {
    font-size: 17px;
}

.post__body {
    overflow-wrap: anywhere;
}

.post__buttons {
    display: flex;
    justify-content: space-evenly;
  
    height: 50px;
}

.post__divider {
    margin-top: 15px;
    border-top: 1px solid rgb(236, 236, 236);
}

.post__delete {
    display: flex;
    margin-left: auto;
    cursor: pointer;
}

.post__delete .MuiSvgIcon-root {
    color: rgb(207, 37, 37);
    height: 20px;
}

.post__delete .MuiSvgIcon-root:hover {
    /* filter: drop-shadow(-2px 2px 1px #b8b8b8); */
    color: rgb(255, 6, 6);
}